* {
    background-color: #36474f;
    color: white;
}

body{ 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
}

.tophead {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #fcea85;
    color: #f45257;
    margin-bottom: 20px;
}

.tophead h1 {
    background-color: #fcea85;
}

.tophead img {
    max-height: 75px;
    padding: 0 20px 0 0;
    background-color: #fcea85;
}

.bottomfoot {
    display: flex;
    margin-top: 20px;
    color: #fcea85;
    background-color: #f45257;
}

.bottomfoot h3{
    color: #fcea85;
    background-color: #f45257;
}

#cocktail-button, #new-art-button {
    background-color: #fcea85;
    color: #f45257;
    border: #f45257;
    border-style: solid;
    border-width: 2px;
}

#cocktail-button:hover, #new-art-button:hover{
    background-color: #a19654;
}

#application-box{
    height: 500px;
    width: 80%;
    border: black solid 2px;
    border-radius:5px;
    align-self: center;
}

.artwork-image {
    height: 200px;
}

@import 'foundation';


@media screen and (max-width: 640px){
    /*img{
        height: 200px;
        width: 200px;
    }*/
    #application-box{
        height: 600px;
    }
    #recipe-steps{
        margin-top: 70px;
    }
   /* #painting-jumbotron{
        margin-top: 50px; 
    }*/

    
}

/*yellow: #fcea85 ; red #f45257 ; gray: #36474f */