body{ 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}


#application-box{
    height: 500px;
    width: 80%;
    border: black solid 2px;
    border-radius:5px;
    align-self: center;
}

@import 'foundation';


@media screen and (max-width: 640px){
    img{
        height: 200px;
        width: 200px;
    }
    #application-box{
        height: 600px;
    }
    #recipe-steps{
        margin-top: 70px;
    }
    #painting-jumbotron{
        margin-top: 50px;
    }

    
}